<footer class="footer ">
    <div class="container-fluid">

        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <a href="#" target="_blank">ESOGÜ Matematik-Bilgisayar Doktora tez çalışması kapsamında ele alınmıştır.</a>
        </div>
    </div>
</footer>
