<form autocomplete="off">
  <!-- <div class="form-group">
     <label>Kategori İsmi : </label><br>
     <ng-select2 [(ngModel)]="users.category"
                 [data]="categoryList" [placeholder]="placeholder"
                 [width]="300"
                 name="category">
     </ng-select2>
   </div>

       <div class="form-group">
     <label for="name"> Adı *</label>
     <input [(ngModel)]="users.name" class="form-control" id="name"
            name="name" placeholder="Adı"
            type="text">
     <div *ngIf="errors?.name">
       <div *ngFor="let error of errors.name" class="invalid-feedback">{{error.message}}</div>
     </div>
   </div>

   <div class="form-group">
     <label for="lastName"> Soyadı *</label>
     <input [(ngModel)]="users.lastName" class="form-control" id="lastName"
            name="lastName" placeholder="Soyadı"
            type="text">
     <div *ngIf="errors?.lastName">
       <div *ngFor="let error of errors.lastName" class="invalid-feedback">{{error.message}}</div>
     </div>
   </div>
   <div class="form-group">
     <label for="password"> Şifre *</label>
     <input [(ngModel)]="users.password" class="form-control" id="password"
            name="password" placeholder="Şifre"
            type="password">
     <div *ngIf="errors?.password">
       <div *ngFor="let error of errors.password" class="invalid-feedback">{{error.message}}</div>
     </div>
   </div>
   <div class="form-group">
     <label for="gender">Cinsiyet *</label>
     <select [(ngModel)]="users.gender" class="form-control" id="gender" name="gender">
       <option value=""> Cinsiyet Seçiniz</option>
       <option value="E">Erkek</option>
       <option value="K">Kadın</option>
     </select>
   </div>
   <div class="form-group" [class.has-danger]="errors?.father">
     <label>Baba ismi : </label><br>
     <ng-select2 [data]="manList"
                 [(ngModel)]="users.father" name="father"
                 [width]="300"
                 [placeholder]="placeholder">
     </ng-select2>
     <div *ngIf="errors?.father">
       <div *ngFor="let error of errors.father" class="form-control-feedback">{{error.message}}</div>
     </div>
   </div>
   <div class="form-group">
     <label>Anne İsmi : </label><br>
     <ng-select2 [data]="womanList"
                 [(ngModel)]="users.mother" name="mother"
                 [width]="300"
                 [placeholder]="placeholder">
     </ng-select2>
   </div>

           <div class="form-group">
          <mat-form-field class="example-full-width">
              <input type="text"
                     name="father"
                     placeholder="Baba"
                     aria-label="Number"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="manList">
                      {{option.name}}
                  </mat-option>
              </mat-autocomplete>
          </mat-form-field>
      </div>

      <div class="form-group">
          <mat-form-field class="example-full-width">
              <input type="text"
                     placeholder="Anne"
                     aria-label="Number"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="womanList">
                      {{option}}
                  </mat-option>
              </mat-autocomplete>
          </mat-form-field>
      </div>

   -->

  <div class="container">
    <br>
    <div class="form-group" [class.has-danger]="errors?.category">
      <label>Kategori ismi : </label><br>
      <mat-select [(value)]="users.category" required>
        <mat-option *ngFor="let cat of categoryListArray" [value]="cat.id">
          {{cat.text}}
        </mat-option>
      </mat-select>
    </div>

    <div class="form-row">

      <div class="form-group col-md-3">
        <mat-form-field appearance="standard" class="example-full-width">
          <mat-label>Adı</mat-label>
          <input matInput name="name" [(ngModel)]="users.name" required placeholder="Ad Giriniz">
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field appearance="standard" class="example-full-width">
          <mat-label>Soyadı</mat-label>
          <input matInput name="lastName" [(ngModel)]="users.lastName" placeholder="Soyad Giriniz">
        </mat-form-field>
      </div>

    </div>

    <div class="form-group">
      <mat-form-field appearance="standard" class="example-full-width">
        <mat-label>Şifre</mat-label>
        <input matInput name="password" [(ngModel)]="users.password" required placeholder="Şifre Giriniz">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="standard" >
        <mat-label> Cinsiyet</mat-label>
        <mat-select [(ngModel)]="users.gender" name="gender" required>
          <mat-option value="E">Erkek</mat-option>
          <mat-option value="K">Kadın</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group" [class.has-danger]="errors?.father">
      <label>Baba ismi : </label><br>

      <mat-select [(value)]="users.father" required>
        <mat-option *ngFor="let man of manListArray" [value]="man.id">
          {{man.text}}
        </mat-option>
      </mat-select>
    </div>

    <div class="form-group">
      <label>Anne İsmi : </label><br>
      <mat-select [(value)]="users.mother" required>
        <mat-option *ngFor="let woman of womanListArray" [value]="woman.id">
          {{woman.text}}
        </mat-option>
      </mat-select>
    </div>

    <button (click)="saveUser()" class="btn btn-primary" type="submit">Ekle</button>
  </div>

</form>




